body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  background-image: url('xyz (2).jpg');
  background-image: cover;
  background-repeat:  none;
  margin: 0;
  background-position: center center;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
@media (max-width: 992px) {
#searchInput {
    font-size: 4em;
    padding: 2rem;
    align-self: center;
  }
  #a {
    font-size: 4em;
    padding: 2rem;
    align-self: center;
  }
}

@media (max-width: 768px) {
  #searchInput {
    font-size: 2.5em;
    padding: 1.2rem;
    align-self: center;
  }
  #a {
 font-size: 2.5em;
    padding: 1.2rem;
    align-self: center;
  }

  #searchContainer input {
    width: 480px;
    height: 55px;
    font-size: x-large;
  }
  #searchContainer button {
    background-color: rgba(1, 159,198, 0.95);
    width: 150px;
    height: 55px;
    font-size: x-large;
  }
  
}

@media (max-width: 576px) {
  #searchInput {
    font-size: 2em;
    padding: 0.7rem;
    align-self: center;
  }
  #a 
    {
    font-size: 2em;
    padding: 0.7rem;
    align-self: center;
  }

  #searchContainer input {
    width: 380px;
    height: 45px;
    font-size: x-large;
  }
  #searchContainer button {
    background-color: rgba(1, 159,198, 0.95);
    width: 120px;
    height: 45px;
    font-size: x-large;
  }
  
}

#weatherContainer {

  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px #000;
  padding: 50px;
  border-radius: 12px;
  position: absolute;
  visibility: hidden;

}
#weatherContainer h1 {
  margin: 5px;
  font-size: 42px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
  padding: 15px;
  position: relative;
  top: 10%;
  
  right: -5%;
  align-self: center;
  align-items: center;
  align-content: center;
}
#searchContainer input {
  width: 330px;
  height: 45px;
  font-size: larger;
}
#searchContainer button {
  background-color: rgba(1, 159,198, 0.95);
  width: 120px;
  height: 45px;
  font-size: larger;
}
#a {
  box-shadow: 2px 2px 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  
}
#searchInput {
  box-shadow: 2px 2px 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
#weatherMain {
  display: block;
  margin-bottom: 20px;
}
#weatherMain div {
  display: inline-block;
}
#weatherDescriptionHeader {
  font-size: 28px;
  vertical-align: 50%;

}
#temperature {
    font-size: 38px;
    vertical-align: 25%;
}
.bottomDetails {
  display: block;
  font-size: 24px;
  text-align: right;
}
hr {
  margin-bottom: 20px;
}