body {
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
  width: auto;
  padding-top: 0;
  padding-bottom: 0;
  background-image: url('xyz (2).jpg');
  background-image: fill;
  background-repeat: repeat-y;
  background-position: center center;
  color: #fff;
  text-shadow: 2px 2px 1px #000;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

}
.col-12 {
  align-content: center;
  align-items: center;
  align-self: center;
}
#weatherContainer {

  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 5px #000;
  padding: 50px;
  border-radius: 12px;
  position: absolute;
  visibility: hidden;

}
#weatherContainer h1 {
  margin: 5px;
  font-size: 42px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#searchContainer {
  padding: 15px;
  position: relative;
  top: 5%;
  left: 15%;
  align-items: center;
  align-content: center;
}
#searchContainer input {
  width: 230px;
  height: 35px;
  font-size: larger;
}
#searchContainer button {
  background-color: rgba(1, 159,198, 0.95);
  width: 95px;
  height: 35px;
  font-size: larger;
}
#a {
  box-shadow: 2px 2px 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  size: ;
  
}
#searchInput {
  box-shadow: 2px 2px 5px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
#weatherMain {
  display: block;
  margin-bottom: 20px;
}
#weatherMain div {
  display: inline-block;
}
#weatherDescriptionHeader {
  font-size: 28px;
  vertical-align: 50%;

}
#temperature {
    font-size: 38px;
    vertical-align: 25%;
}
.bottomDetails {
  display: block;
  font-size: 24px;
  text-align: right;
}
hr {
  margin-bottom: 20px;
}